.slider {
  height: 80vh;
  position: relative;
}

.swiper-slide {
  a {
    img {
      height: 75%;
      outline-offset: 2vw;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      outline: 0.8vw solid darkcyan;
    }
  }
}
